.about-us{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    
}

.about-us--sec{
    height: 100vh;
    flex: 1;
    border-right: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #767677;
    font-size: .9rem;
    line-height: 1.8;
    padding: 0 2em;

    
}
.about-us--sec:last-child{
    border-left: 2px solid #eee;
}
.about-us--sec img{
    width: 100%;
}
.about-us--head {
    color: #505050;
    font-size: 1.1rem;
    line-height: initial;
}


@media only screen and (max-width: 600px){
    .about-us,.about-us--sec,.about-us--sec:last-child{
        border: none;
    }
    .about-us{
        margin-top: 0;
    }
    .about-us--sec{
        flex-basis: 100%;
        height: initial;
        margin-bottom: 4em;
    
    }
}