@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam.eot");
    src        : url("fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam-FD.eot");
    src        : url("fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-FD.woff") format("woff"), url("../fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam-Bold.eot");
    src        : url("fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style : normal;
}
:root {
    font-size: 1em;
    font-size: calc(0.5em + 1vw);
    direction: rtl;
    --animate: all .3s ease-in-out;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit
}

body {
    margin: 0;
    font-family: shabnam, sans-serif, Arial;
}

@media (min-width: 50em) {
    :root {
        font-size: 1.005em;
    }
}
::-webkit-scrollbar {
    width: .4rem;
}
::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* flexbox container */
.flex-c{
    display: flex;
}
/* width: 100% */
.w100{
    width: 100%!important;
}
.vh-100{
    height: 100vh;
}
.fb-100{
    flex-basis: 100%!important;
}
/* justify-content: center; */
.jc-center{
    justify-content: center;
}
/* align-items: center */
.ai-center{
    align-items: center;
}
/* flex-wrap: wrap */
.wrap{
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.p-relative{
    position: relative;
}
.p-abs{
    position: absolute;
}
.box{
    position: relative;
}
.center{
    position: absolute;
}
.center-hv{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center-h {
    left     : 50%;
    transform: translateX(-50%);
}
.center-v{
    top: 50%;
    transform: translateY(-50%);
}
.txt-center{
    text-align: center!important;
}
.txt-bold{
    font-weight: bold!important;
}
.d-ltr{
    direction: ltr!important;
}
a.link{
    color: #000;
    text-decoration: none;
}

button:hover,input[type=submit]:hover{
    cursor: pointer;

}
button:focus,input[type=submit]:focus{
    outline: none;
    cursor: pointer;
}
.btn{
    padding: .6em 0;
    font-family: inherit;
    outline: none;
    border: 1px solid;
}
.btn-block{
    width: 100%;
}
.black{
    color: #eee;
    background: black;
}
.tranparrent{
    color: black;
    background: transparent;
}
.btn-info{
    color: #eee;
    border-color:rgb(76, 120, 179);
    background-color: rgb(76, 120, 179);
}
.btn-black{
    background: #000;
    border-color: #000;
}
.cl-btn,.edit-btn{
    color: #000;
    background: #E5E5E5;
    border: 1px solid transparent;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all .3s;
    padding:1px 6px;
}


/* borders */
.border-1{
    border: 1px solid;
}
.border-2{
    border: 2px solid;
}
.border-3{
    border: 3px solid;
}
.border-4{
    border: 4px solid;
}


.tooltip{
    position: relative;
}

.tooltip-txt{
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    font-size: .7rem;
    padding: .2em .4em;
    border-radius: 1em;

}
.tooltip:hover .tooltip-txt{
    visibility: visible;
}
.tooltip .tooltip-txt::after {
    content : " ";
    position: absolute;
    bottom  : 100%;
    /* At the top of the tooltip */
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
ul {
    padding   : 0;
    margin    : 0;
    list-style: none;
}
.login-page-c{
    background: #ECECE2;
    color: #2E3238;
}
.login-container{
    flex-basis: 500px;
}
.form-header{
    font-size: 1.5rem;
    font-weight: bold;
}
.login-form-c{
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 30px 50px;
}
.tab{
    display: none;
}
.login-form-c--guide-txt{
    font-size: .75rem;
    text-align: right;
    margin-bottom: 18px;
}
.mb-1{
    margin-bottom: 1em;
}
.mb-2{
    margin-bottom: 2em;
}
.mb-3{
    margin-bottom: 3em;
}
.mb-4{
    margin-bottom: 4em;
}
.mb-5{
    margin-bottom: 5em;
}
.mb-6{
    margin-bottom: 6em;
}
.mt-1 {
    margin-bottom: 1em;
}

.mt-2 {
    margin-bottom: 2em;
}

.mt-3 {
    margin-bottom: 3em;
}

.mt-4 {
    margin-bottom: 4em;
}

.mt-5 {
    margin-bottom: 5em;
}

.mt-6 {
    margin-bottom: 6em;
}

.txt-in-container{
    position: relative;
}
.txt-in-container input{
    color     : #000;
    background: none;
    z-index   : 100;
    width     : 100%;
    outline   : none;
    border: 2px solid #000000;
    box-sizing: border-box;
    text-align: right;
    padding: 10px;
    padding-right: 23px;
    transition: all .5s ease-out;
}
.txt-in-container input.invalid {
    border-color: rgb(219, 71, 60);
}
.txt-in-container label{
    position      : absolute;
    top           : 12px;
    right         : 24px;
    color         : #767677;
    transition    : .3s;
    z-index       : 2;
    cursor        : auto;
}
.txt-in-container input:valid {
    background-color: #ECECE2;
}

.txt-in-container input:valid + label {
    color  : transparent;
    z-index: -1;
}

.txt-in-container input:focus {
    border-color: #000;
    color       : #000;
}


.txt-in-container input:focus + label {
    top             : -8px;
    color           : black;
    background-color: #ECECE2;
    z-index         : 101;
    padding         : 0px 5px;
    font-size       : 12px;
}

.txt-in-container img{
    position: absolute;
    top: 45%;
    right: 2px;
    transform: translateY(-50%);
    height: 50%;
}
.login-form-c--guide-txt #mobile-num {
    color: rgb(76, 120, 179);
}
.login-form-c--pnum-edit {
    margin-bottom: 18px;
}

.login-form-c--pnum-edit-btn {
    background   : transparent;
    color        : rgb(76, 120, 179);
    font-size    : 14px;
    outline      : none;
    cursor       : pointer;
    border       : none;
    border-bottom: 2px solid;
    padding      : 0;

}
.login-form-c--btn-con{
    margin-top: 20px;
}
.login-form-c--btn-con button{
    width: 100%;
}

.returned-code-inputs{
    direction: ltr;
    justify-content: space-between;
}
.returned-code-inputs input {
    width     : 3.3em;
    height    : 2.6em;
    font-size : 1rem;
    text-align: center;
    background: transparent;
    border    : 2px solid;
    outline   : none;
    padding   : 1em;
}

.returned-code-inputs input.invalid {
    border-color: rgb(219, 71, 60);
}
.timer-container{
    padding-top: 20px;
}
.timer-container--time {
    font-size    : 20px;
    height       : 40px;
    line-height  : 40px;
    border-bottom: 2px solid;
}
.success-img {
    width : 100%;
    height: 120px;
}

.login-form-c--guide-txt.success-txt {
    font-size : 18px;
    color     : #000
}