.basket-container {
    padding: 0 3em;
    font-family: shabnam,sans-serif;
}





.product-baskets {
    flex-basis: 58%;
}

.product-basket {
    margin-bottom: 10px;
    border       : 1px solid;
    position     : relative;

}
.product-basket .p-img img{
    width: 100%;
    max-width: 220px;
}
.p-details {
    padding: 20px 30px;
}

.pb-brand {
    font-size     : 24px;
    font-weight   : 700;
    letter-spacing: normal;
    max-width     : 100%;
    text-overflow : ellipsis;
    overflow      : hidden;
    line-height   : 1.17;
    margin-bottom : 5px;
    white-space   : nowrap;
}

.pb-title {
    font-size    : 16px;
    line-height  : normal;
    margin-bottom: 10px;
}

.pb-size {
    font-size    : 16px;
    margin-bottom: 4px;
}

.pb-size span {
    font-weight: bold;
}

.pb-cost-container {
    margin-top: 25px;
}

.pb-cost-row {
    display: flex;
    margin : 5px 0;

}

.pb-cost-row .pb-c-title {
    flex-basis: 25%;
}

.pb-cost-row .pb-c-value {
    flex-basis: 50%;
    text-align: left;
}

.pb-c-value::after {
    content: " تومان";

}

.pb-c-count {
    text-align: center;
}

.pb-c-count::after {
    content: "";
}

.pro-c {
    color: #767677;

}

.pro-dis-c {
    color: #e32b2b;
}

.pro-final-c {
    font-weight: bold;
}

.discount-in{
    outline: none;
    border: 1px solid #767677;
    font-family: shabnam,sans-serif;
    padding: .4em;
    margin-bottom: .5em;
    width: 75%;
}
.discount-in:focus{
    border-color: #000;
}

.buy-order {
    flex-basis: 38%;

}

.order-summary {
    padding      : 12px 15px 24px;
    border       : 1px solid;
    margin-bottom: 30px;
}

.o-s-cost {
    font-weight: bold;
}

.order-desc {
    font-size  : 24px;
    line-height: 18px;
}

.we {
    color     : #000;
    background: none;
    z-index   : 100;
    width     : 100%;
    outline   : none;

    border                    : 1px solid #767677;
    box-sizing                : border-box;
    direction                 : ltr;
    text-align                : right;
    /* color                  : #ececec; */
    padding                   : 10px;
    padding-right             : 23px;
    width                     : 100%;
    transition-duration       : .5s;
    transition-property       : all;
    transition-timing-function: ease-out;
}

.hidden-label {
    position      : absolute;
    top           : 12px;
    right         : 24px;
    color         : #767677;
    /* font-weight: bold; */
    transition    : .3s;
    z-index       : 2;
    cursor        : auto;
}

.we:valid {
    background-color: #ECECE2;
    /* z-index      : 100; */
}

.we:valid+.hidden-label {
    color  : transparent;
    z-index: -1;
}

.we:focus {
    border-color: #000;
    color       : #000;
}

.we:focus+.hidden-label {
    top                : -8px;
    color              : black;
    /* background-color: #ECECE2; */
    background-color   : #fff;
    z-index            : 101;
    padding            : 0px 5px;
    font-size          : 12px;
}


.input-container {
    position: relative;

}

.purchase-btn {
    width     : 100%;
    color     : #fff;
    background: #000;
    text-align: center;
    padding   : 10px 0;
    border    : 1px solid #000;
    margin-top: 15px;
    font-size : 15px;
}

.purchase-btn span {}

.purchase-btn:hover {
    cursor: pointer;
}

.purchase-btn:focus {
    outline: none;
    cursor : pointer;
}

.del-pro-basket {
    background   : white;
    outline      : 0;
    border       : none;
    color: #000;
    position     : absolute;
    width        : 40px;
    height       : 40px;
    top          : -1px;
    left         : -1px;
    /* text-align: center; */
    /* font-size : 20px; */
    line-height  : 40px;
    padding      : 0;
    font-size    : 20px;
    border       : 1px solid;
}


.b-title-co>* {
    flex: 1;
}

.b-title-co>div {
    text-align: left;
}

.b-title-co>div>a {
    color          : #000;
    text-decoration: none;
    font-size      : 1.2rem;
    border-bottom  : 1px solid;


}

.b-title {
    font-size  : 42px;
    line-height: 20px;
}

.overal-costs {
    font-weight: 700;
    font-family: shabnam;

}

.overal-costs::after {
    content: "تومان";
}

.overal-cost {
    margin-bottom: 40px;
}

@media (max-width: 575.98px){
    /* product basket styles */
    .basket-container {
        padding: 1em 1em;
    }

    .product-basket-container>* {
        flex-basis: 100%;
        flex-wrap : wrap;


    }

    .b-title {
        font-size: 26px;
    }

    .b-title-co {
        flex-wrap: wrap;
    }

    .b-title-co>* {
        flex-basis: 100%;
    }

    .b-title-co>div {
        text-align: right;
    }
    .b-title {
        order: 1;
    }


    .product-basket {
        border   : 1px solid #000;
    }

    .p-img {
        flex-shrink: 0;
    }

    .p-img img {
        flex-shrink: 0;
    }

    .product-basket .p-img img {
        max-width: initial;
        
    }
    .pb-brand {
        font-size: 16px;
    }
    .pb-title {
        font-size: 12px;
    }
    .pb-cost-row .pb-c-title {
        flex-basis: 30%;
    }
    .pb-cost-row .pb-c-value {
        flex-basis: 65%;
        text-align: left;
    }

    .pro-final-c {
        font-weight: 700;
    }

    .pb-cost-container {
        font-size: 14px;
    }

    .pb-size {
        font-size: 14px;
    }

    .p-details {
        flex-shrink: 0;
        padding    : 10px 10px 10px 0;
    }

    

    .discount-in {
        width: 95%;
    }

    .order-summary {
        border: 1px solid #767677;
    }

    .del-pro-basket {
        width      : 30px;
        height     : 30px;
        line-height: 30px;
        font-size  : 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .basket-container{
        padding: 0 1em;
    }
    .product-basket .p-img img{
        max-width: initial;
    }
}