@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam.eot");
    src        : url("fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam-FD.eot");
    src        : url("fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-FD.woff") format("woff"), url("../fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam-Bold.eot");
    src        : url("fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style : normal;
}
@font-face {
    font-family: shabnam;
    src        : url("fonts/Shabnam-Bold-FD.eot");
    src        : url("fonts/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold-FD.woff") format("woff"), url("../fonts/Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: 700;
    font-style : normal;
}
:root,html{
    font-family: shabnam, sans-serif;
}