.footer {
    width: 50%;
    padding        : 6em 2em 1em;
    margin: auto;
    margin-top: 6em;
    border-top: 1px solid;
}

.footer-col {
    flex-basis: 25%;
}
.email-address{
    margin-top: 0;
    margin-bottom: 4em;
}
.footer-col img{
    width: 6em;
}
.footer-col-links{
    border-top: 2px solid #000;
}

.footer-col>span {
    display: block;
    text-align: justify;
    text-justify: auto;

}

.footer-col .contact-info>span {
    display       : inline-block;
    border-bottom : 1px solid #000;
    padding-bottom: 2px;
}

.footer-col .footer-logo img {
    width  : 60%;
    height : 100px;
    padding: 10px;

}

.txt-left {
    text-align: left;
}

.social-networks {
    padding-top       : 10px;
}



.follow {
    margin-top: 30px;
}

.social-networks img {
    height      : 1.8em;
    width       : 1.8em;
    border      : 1px solid rgba(0, 0, 0, .06);
    padding     : .411em;
    color       : red;
    margin-right: 2px;
}



.copy-right-txt {
    padding-top: 1.8em;
}


@media only screen and (max-width: 600px) {
    .footer {
        padding   : 40px 20px 10px;
        background: #7676770c;
        margin-top: 20px;
        width: 100%;
    }

    .footer-col {
        flex-basis: 35%;
    }

    .footer-col.txt-left {
        flex-basis   : 100%;
        order        : -1;
        text-align   : center;
        margin-bottom: 25px;
    }

    

    .social-col {
        order        : -2;
        margin-bottom: 30px;
    }
    .copy-rights {
        display  : flex;
        flex-wrap: wrap;

        padding-top: 100px;

    }
}