.select-size-modal{
    width: 70%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000;
    padding: 15px;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    /* position: relative; */
    transition: all .3s ease-in-out;

}

.balck-overlay{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 899;
}
.prevent-body{
    overflow-y: hidden;
}
.modal-show{
    display: block;
    visibility: visible;
    opacity: 1;
}
.close-btn{
    cursor: pointer;
    background: white;
    outline: 0;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    /* text-align: center; */
    /* font-size: 20px; */
    line-height: 40px;
    padding: 0;
    font-size: 20px;
    border: 1px solid;
}
.select-size-modal h2{
    /* text-align: center; */
}
.s-size-txt{
    color: #4e4e4e;
}
.size-image-container{
    display: flex;
    justify-content: space-between;

}

.size-image-container>div{
    flex: 1;
    padding: 4px;
    position: relative;


}

.size-image-container>div>img{
    width: 100%;
    

}
.size-img-num{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    
}
.size-table>li{
    display: flex;
    text-align: center;
}
.size-table>li:nth-child(odd) {
    background: #eee;
}
.size-table-header{
    border-bottom: 1px solid #767677;
    font-weight: bold;
}

.size-table>li>div{
    flex: 1;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}

@media only screen and (max-width: 430px){
    
    .select-size-modal {
        position: fixed;
        top: 22px;
        right: -100%;
        margin-top: 250px;
        width: 95%;
        margin-right: -160px;
        height: 90vh;


    } 
    .balck-overlay{
        position: fixed;
        top: 0;
        left: 0;
    } 
    /* .mod-con{
        position: fixed;
    } */
    .modal-show {
        right: 0px;
    } 
    .close-btn {
        width        : 30px;
        height       : 30px;
        top          : 2px;
        left         : 2px;
        line-height  : 30px;
        font-size    : 15px;
    }
    .size-image-container div {
        flex-basis   : 100%;
    }
    .size-image-container {
        flex-wrap: wrap;

        justify-content: initial;

    }
}