

.vline{
    width: 30%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    z-index: -10000;
}



/* products style */







.back-to-top {
    display: none;
}

/* end of styles */





/* footer styles */


/* product page styles */

















/* end of product page styles */



/* basket page styles */







/* end of asket page styles */




/* 430 px for iphone and mobile phones */

@media only screen and (max-width: 600px) {
    
    
    

    
    
    
    
    

    /* .pagination-container ul li a{
        text-decoration: none;
        color          : #000;
    }    */

    .back-to-top {
        text-align: center;
        border    : 1px solid #000;
        padding   : 15px 0px;
        cursor    : pointer;
    }

    .back-to-top a {
        color          : #000;
        text-decoration: none;
    }

    


    /* product styles
    +++++++
    +++++++
    +++++++
    +++++++
    +++++++
    +++++++
    +++++++
    */

    









    .txt,
    .email-form {
        flex-basis: 100%;
    }

    .email-form form {
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .email-form form button {
        align-self: flex-start;
        padding   : 10px;
        margin-top: 10px;
    }

    .email-contact {
        padding: 10px 5px;
    }

    .input-container input {
        min-width: 0;
        width    : 100%;
    }

    .hidden-label {
        right: 5px;
    }

    .email-form button {
        margin: 0;
    }

    .we {
        padding-right: 5px;
        border       : 1px solid #fff;
        ;

    }

    .we:focus+.hidden-label {
        top             : -8px;
        right           : 6px;
        color           : #000;
        background-color: #fff;
        padding         : 0px 5px;
    }

    



}




@media only screen and (min-width: 768px){
    

}



