
.product-basket-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between
}
.product-basket-container>* {
    /* background: rgb(154, 154, 231); */
    /* border    : 1px solid red; */
}
.product-baskets{
    flex-basis: 58%;
}
.product-basket{

    display: flex;
    margin-bottom: 10px;
    border: 1px solid ;
    position: relative;

}
.p-details{
    padding: 20px 30px;
}
.pb-brand{
    font-size: 24px;
    font-weight: 700;
letter-spacing: normal;
max-width: 100%;
text-overflow: ellipsis;
overflow: hidden;
line-height: 1.17;
margin-bottom: 5px;
white-space: nowrap;
}
.pb-title{
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
}
.pb-size{
    font-size: 16px;
    margin-bottom: 4px;
}
.pb-size span{
    font-weight: bold;
}
.pb-cost-container{
    margin-top: 25px;
}
.pb-cost-row{
    display: flex;
    margin: 5px 0;

}

.pb-cost-row .pb-c-title{
    flex-basis: 25%;
}
.pb-cost-row .pb-c-value {
    flex-basis: 50%;
    text-align: left;
}
.pb-c-value::after{
    content: " تومان" ;

}
.pb-c-count{
    text-align: center;
}
.pb-c-count::after{
    content: "";
}

.pro-c{
    color: #767677;
    
}
.pro-dis-c{
    color: #e32b2b;
}
.pro-final-c{
    font-weight: bold;
}
.buy-order{
    flex-basis: 38%;

}
.order-summary{
    padding: 12px 15px 24px;
    border: 1px solid;
    margin-bottom: 30px;
}

.o-s-cost{
    font-weight: bold;
}
.order-desc{
    font-size: 24px;
    line-height: 18px;
}

.we {
    color     : #000;
    background: none;
    z-index   : 100;
    width     : 100%;
    outline   : none;

    border                    : 1px solid #767677;
    box-sizing                : border-box;
    direction                 : ltr;
    text-align                : right;
    /* color                  : #ececec; */
    padding                   : 10px;
    padding-right             : 23px;
    width                     : 100%;
    transition-duration       : .5s;
    transition-property       : all;
    transition-timing-function: ease-out;
}
.hidden-label {
    position      : absolute;
    top           : 12px;
    right         : 24px;
    color         : #767677;
    /* font-weight: bold; */
    transition    : .3s;
    z-index       : 2;
    cursor        : auto;
}
.we:valid {
    background-color: #ECECE2;
    /* z-index      : 100; */
}

.we:valid+.hidden-label {
    color  : transparent;
    z-index: -1;
}

.we:focus {
    border-color: #000;
    color       : #000;
}

.we:focus+.hidden-label {
    top             : -8px;
    color           : black;
    /* background-color: #ECECE2; */
    background-color: #fff;
    z-index         : 101;
    padding         : 0px 5px;
    font-size       : 12px;
}

i {
    color   : #767677;
    height  : 50%;
    position: absolute;
    top     : 25%;
    right   : 6px;

}
.input-container {
    position: relative;
    
}
.purchase-btn{
    width: 100%;
    color: #fff;
    background: #000;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #000;
    margin-top: 15px;
    font-size: 15px;
}
.purchase-btn span{
    
}
.purchase-btn:hover {
    cursor: pointer;
}

.purchase-btn:focus {
    outline: none;
    cursor : pointer;
}
.del-pro-basket{
    background: white;
    outline: 0;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1px;
    left:-1px;
    /* text-align: center; */
    /* font-size: 20px; */
    line-height: 40px;
    padding: 0;
    font-size: 20px;
    border: 1px solid ;
}
@media screen and (max-width: 430px) {
    
    /* product basket styles */

    .product-basket-container >*{
       flex-basis: 100%;
       flex-wrap: wrap;
        

    }
    .b-title{
        font-size: 26px;
    }
    .b-title-co>div {
        display: none;
    }
    .product-basket {
        border   : 1px solid #000;
        display  : flex;
        flex-wrap: wrap;
    }
    
    .p-img {
        flex-shrink: 0;
        flex-basis : 40%;
    }

    .p-img img {
        flex-shrink: 0;
        width      : 100%;
    }
    .pb-brand{
        font-size: 16px;
        
    }
    .pb-title{
        font-size: 12px;
        
        
        /* text-overflow: ellipsis; */
    }
    .pb-cost-row .pb-c-title {
        flex-basis: 30%;
    }

    .pb-cost-row .pb-c-value {
        flex-basis: 65%;
        text-align: left;
    }
    .pro-final-c{
        font-weight: 700;
    }
    .pb-cost-container{
        font-size: 14px;
    }
    .pb-size{
        font-size: 14px;
    }
    .p-details {
        flex-basis : 60%;
        flex-shrink: 0;
        padding: 10px 10px 10px 0;
    }
    .buy-order{
        flex-basis: 100%;
    }
    .order-summary {
        border: 1px solid #767677;
    }
    .del-pro-basket{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
}