/* DSY6W9MICJXAX */
.bazaryabi{
    border-bottom: 1px solid rgb(194, 194, 194);
    background-color: #ecebeb;
    justify-content: center;
    align-items: center;
}

.baz--txt{
    padding: .3em 1em;
}
.baz--img{
    width: 2em;
}
.mobile-menue {
    background        : #fff;
    padding           : 25px 10px;
}

#menue-check {
    display: none;
}
.mobile-menue .top-nav {
    flex-basis    : 30%;
}


.top-nav a {
    text-decoration   : none;
    color             : #000;
    padding           : .55em .8em;
    display           : inline-block;
}

.top-nav li {
    font-size: .85rem;
}

.logo {
    /* margin-right   : auto; */
    flex-basis        : 40%;
    text-align        : center;
    /* border         : 1px solid red; */
    font-family       : Verdana, Geneva, Tahoma, sans-serif;
    /* font-size      : 60px; */
    font-size         : 2.75rem;
    text-transform    : uppercase;
    line-height       : 45px;
}
.logo img{
    width: 20%;
}

.icon-container {
    text-align: left;
    flex-basis: 30%;
}
.menue-ico{
    border: 1px solid #000;
    color: #000;
    font-size: .8rem;
    padding: .5em;
    border-radius: 2em;
    margin-left: .5em;
    text-decoration: none;
}
.menue-ico.fi{
    margin-left: 0;
}
.menue-ico i{
    display: none;
}
.icon a{
    background: transparent;
    color     : #000;
    border: none;
    /* border    : 2px solid; */
    outline   : none;
    cursor    : pointer;
    padding: .5em;
    border-radius: 2em;
    text-decoration: none;
    
}
.icon button {
    background: transparent;
    color     : #000;
    border: none;
    /* border    : 2px solid; */
    outline   : none;
    cursor    : pointer;
    padding: .5em;
    border-radius: 2em;
    
}
.shop-cart-label,.login-label{
    padding: .5em 1em;
    border: 1px solid #000;
    border-radius: 2em;
}
.icon span > i{
    display: none;
}
.icon button > i,
.icon .basket-product-count {
    display: none;
}

.menue-logo {
    font-size: 25px;
    font-size: 2rem;
}





.menue {
    border-top           : 1px solid #e2e2e2;
    border-bottom        : 1px solid #e2e2e2;
}

.menue li {
    /* padding         : 10px 20px; */
    flex               : 0 1 auto;
    /* position        : relative; */
}

.menue li:hover,
.menue li:focus {
    /* background-color: white; */
    transition         : var(--animate);

}

.menue li a.mega-link {
    display      : inline-block;
    padding      : .6em 1em;
    position     : relative;
    color        : #000;
    background   : #fff;
}
.menue li a {
    text-decoration   : none;
    width             : 100%;
}


a.mega-link::after {
    content      : "";
    position     : absolute;
    width        : 100%;
    height       : 2px;
    background   : #000;
    bottom       : 0px;
    right        : 0;
    opacity      : 0;
    border-radius: 2px;
    transition   : var(--animate);
}

.menue li:hover a.mega-link::after {
    opacity: 1;
}




.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display         : none;
    position        : absolute;
    background-color: white;
    right           : 0;
    top             : 100%;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index         : 102;
}


.mega-container--row,
.mega-container .header {
    flex-basis: 100%;

}

.mega-container--row {
    padding-bottom       : 2.4em;
}
.mega-container--col {
    flex-basis      : 12%;
    flex-shrink     : 0;
    margin-left     : 1.9em;
}
.mega-container--col a {
    color           : #000;
    display         : block;
    text-align      : right;
    padding-right   : 0;
    border          : none;
    font-size       : .75rem;
    line-height     : 1.7;
    margin-bottom   : .5rem;
    font-weight     : 400;
}

.mega-container--col a:hover,
.mega-container--col a:focus {
    text-decoration: underline;
}
.mega-h {
    font-weight  : bold;
    font-size    : 16px;
    font-size    : .9rem;
    font-weight  : 400;
    line-height  : 1.54;
    color        : #000;
    margin-bottom: .8em;
    text-overflow: ellipsis;
    white-space  : nowrap;
    max-width    : 100%;
}
.mega-container--col .mega-img img {
    max-width: 100%;
    min-width: 100%;
    height   : 72px;
    height   : 4em;
}
.mega-container--row .brand-container {
    flex-basis: 20%;
}

.brand-container a.brand-logo {
    width           : 3.7em;
    height          : 3.75em;
    border          : 1px solid #d4d1d1;
    padding         : 1px;
    border-radius   : 50%;
    margin          : 1px;
    transition      : var(--animate);
}

a.brand-logo img {
    width        : 100%;
    border-radius: 50%;
}

a.brand-logo:hover,
a.brand-logo:focus {
    border-color: #000;

}



@media (max-width: 575.98px){
    .nav {
        position: fixed;
        top     : 0;
        width   : 100%;
        z-index : 900;
    }

    
    .menue {
        height: 100%;
        font-size: 30px;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
    }

    .menue li {
        text-align: center;
    }
    .menue li a.mega-link {
        color     : #fff;
        background: transparent;
        padding:.6em  0;
    }
    .mobile-menue {
        background: #fff;
        color     : #000;
        padding   : 5px 10px;
        border-bottom: 1px solid #000;
        height: 5em;
    }

    .mobile-menue > * {
        text-align : center;
        
    }
    .hambergur {
        /* font-size: 30px; */
        cursor      : pointer;
        z-index     : 990;


    }
    .hambergur>span>span {
        display         : block;
        width           : 30px;
        height          : 3px;
        margin          : 5px;
        background-color: #000;
        transition      : var(--animate);
    }

    .hambergur>span>span:nth-child(2) {
        width: 25px;
    }
    .hambergur>span.is-active>span{
        background: #fff;
    }
    .hambergur>span.is-active>span:nth-child(2) {
        opacity: 0;
    }

    .hambergur>span.is-active>span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambergur>span.is-active>span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .mobile-menue .top-nav {
        display: none;
    }
    .logo {
        font-family   : Verdana, Geneva, Tahoma, sans-serif;
        font-size     : 25px;
        text-transform: uppercase;
        flex          : 1 50%;
    }
    .icon-container {
        flex-basis: initial;
    }
    .icon button {
        color: white;
        padding: 0;
        background: transparent;
    }
    .menue-ico span{
        display: none;
    }
    .menue-ico{
        border: none;
        margin-left: 0;
        padding: .3em;
    }
    .menue-ico i{
        display: initial;
    }
    .icon button > i {
        display: initial;
        color: black;
    }
    .icon span > i{
        display: initial;
        color:black ;
    }
    .icon {
        position: relative;
    }

    .icon .basket-product-count {
        position     : absolute;
        top          : -5px;
        right        : -5px;
        height       : 15px;
        display      : block;
        width        : 15px;
        line-height  : 15px;
        text-align   : center;
        font-size    : 12px;
        border-radius: 50%;
        background   : yellow;
        color        : #000;
    }
    .shop-cart-label,
    .login-label {
        display: none;
    }





    .toggle {
        position  : fixed;
        z-index   : 950;
        width     : 100%;
        transition: .6s;

        top       : 0;
        right     : -100%;
        height    : 100vh;
        background: #757575;

    }
    .open-close {
        right: 0;
    }
    .t-container {
        height: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 7em;
        padding: 0 1.4em;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    
}






