.pagination-container {
    margin: 30px 0 60px;
    margin: -1px 0 3.6em;
    border: 1px solid #e2e2e2;
    padding: .4em 0;
    
}

.pagination-container ul {
    margin           : 0;
    padding          : 0;
    /* list-style    : none; */
    display          : flex;
    flex-direction   : row-reverse;
    flex-wrap        : wrap;

}

.pagination-container li {
    padding       : 5px 10px;
    border        : 1px solid transparent;
    margin        : 1px;
    font-size     : 16px;
    letter-spacing: normal;
    line-height   : 1.5;
    transition    : var(--animate);
}

.pagination-container li:hover,
.pagination-container li:focus {
    border    : 1px solid #767677;
    background: #767677;
    color     : #fff;
    cursor    : pointer;
}

.pagination-container li:hover a,
.pagination-container li:focus a,
.pagination-container ul li.active a {
    color: #fff;
}


.pagination-container ul li.active {
    border       : 1px solid #000;
    background   : #000;
    /* color     : #fff; */
}

.pagination-container ul li span.prev-page,
.pagination-container ul li span.next-page {
    display: initial;
}

.pagination-container ul li a {
    text-decoration: none;
    color          : #8c8c8c;
}

.page-arrow {
    margin: 5px;
}

.pg-num.active+.next-p {
    display: none;
}



@media only screen and (max-width: 600px) {
    .pagination-container ul li span.prev-page,
    .pagination-container ul li span.next-page {
        display: none;
    }
}