.video_container{
    position: relative;
    top: 1em;
}
video{
    width: 100%;
    position: relative;
}
#myBtn{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background: transparent;
    border: none;
    /* padding: 3em; */
    cursor: pointer;
    outline: none;
    font-size: 5em;
    width: 2em;
    height: 2em;
}
#myVideo{
    max-width: 100%;
}
.posts_head{
    text-align: center;
    margin: 0;
    padding: 1em;
}
.posts_head span{
    display: inline-block;
    border-bottom: 4px solid #000;
    padding-bottom: .3em;
}
.article-c{
    margin: auto;
}
#articles{
    margin-right: -2em;
    padding: 0 1em;
}
#articles article{
    flex-basis: calc(33.3333% - 2em);
    margin-right: 2em;
    border-bottom: 4px solid #e4e2e2;
    margin-bottom: 4em;
    padding-bottom: 2em;
    /* position: relative; */
}
#articles img{
    width: 100%;
    height: auto;
    
}
#articles figure{
    padding: 0;
    margin: 0;
    max-height: 20em;
    overflow: hidden;
}

.post-content h2{
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 1.4em;
}
.post-content h5{
    font-size: .85rem;
    margin-top: .1em;
    color: #9e9e9e;
}
.post-content p{
    font-size: .9rem;
    line-height: 1.7;
    padding-bottom: 1.2em;
}
.post-content a{
    font-size: .9rem;
    color: #000;
    /* background: #000; */
    /* padding: .8em; */
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 1em;
}
.post-content span{
    transition: all .3s;
}
.post-content a:hover span{
    padding-right: .2em;
}

/* content page styles */

.progress-container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  transparent;
    height: 4px;
}
.progress-bar {
    height    : 4px;
    background: #4a4a4a;
    width     : 0%;
}
.content-page >*{
    padding-top: 2em;
    width: 50%;
    margin: auto;
}
.content-page header{
    position: relative;
    margin-bottom: 4em;
    /* border-top: 5px solid #e4e2e2;
    border-bottom: 5px solid #e4e2e2; */
}
header .square,header .square1{
    position: absolute;
    width: 1.5em;
    height: .75em;
    background: #000;
}
header .square{
    top: -2em;
    right: 0em;
    
}
header .square1{
    bottom: -2em;
    right: 0;
}
.content-page>* {
    width: 55%;
}
.content-page header h1{
    margin-bottom: .5em;
}
.content-page header h4{
    font-size: .95rem;
    margin: 0;
    color: #7e7e7e;
    font-weight: normal;
}
.content-page header .cvline{
    display: inline-block;
    width: 1px;
    height: 1em;
    background: #000;
}
.main-content em{
    border-right: 4px solid #000;
    padding: 1em;
    display: block;
    background: #f3f3f3;
    
}
.rtime::before{
    content: " خواندن ";
}
.rtime::after{
    content: " دقیقه";
}
.main-content{
    color: #4a4a4a;
}
.main-content img{
    /* width: 100%; */
    max-width: 100%;
    display: block;
    margin: 2em auto;

}
.main-content ul{
    padding:1em;
    
}
.main-content p {
    line-height: 2;
    font-size: 1.1rem;
}
.main-content ul li::before{
    content: "\220E";
    margin-left: .5em;
}
.main-content a{
    color: #107abe;
    font-weight: bold;
}
.post-comments{
    margin: auto;
    border-top: 1px solid #e2e2e2;
    padding-top: 2em;   
    margin-top: 4em;
}
.post-comments textarea{
    font-family: shabnam,sans-serif !important;
    
    padding: 1em;
    height: 4em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e2e2e2;
    outline: none;
border-radius: .2em;
    font-size: 1rem;
}

.post-comments textarea:focus{
    min-height: 10em;
    border-color: #000;
    
    
}
.post-comments button{
    padding: 1em 1em;
}
.show-com{
    border-radius: 2em;
    padding: 1em 0;
}
.com-txt{
    border: 1px solid #e2e2e2;
    padding: 1em;
}
.com-txts > .com-txt + .com-txt{
    margin-top: 1em;
}
.comtxt-user-name{
    color: #107abe;
}
.grey{
    color: #9e9e9e;
}
.comtxt-txt{
    margin-top: 1em;
}

@media (max-width: 575.98px){
    .content-page>* {
        width: 90%;
    }
    #articles article{
        flex-basis: 100%;
    }
    .progress-bar{
        background: yellow;
    }
    .progress-container {
        background: #000;
        z-index: 1000;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .content-page>*{
        width: 80%;
    }
    #articles article {
        flex-basis: calc(50% - 2em);
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px){
    .content-page>*{
        width: 70%;
    }
}

