
.container {
    /* padding: 0 40px; */
    padding   : 0 1.8em;
}
.product {
    flex-basis: 25%;
}
.image-container {
    height    : 485px !important;
    height    : 85vh !important;
    overflow-y: hidden;
    margin    : 15px;
    margin    : .8em;

}

.image-container img {
    width: 100%;
}


.product-image-slider {
    flex-basis: 70%;
}

.product-form {
    flex-basis: 30%;
}

.product-form>* {
    flex-basis: 100%;
}

.product-image-slider .image-container {
    flex-basis   : 100%;
    transition   : all 2s;
    margin-bottom: 0;
}

.product-image-slider .image-slide-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}
.product-image-slider .image-slide-container div {
    flex-basis: 24%;
}

.product-image-slider .image-slide-container img {
    width: 100%;
}

.product-form form {
    align-self           : flex-end;
}


.size-select {
    flex-basis: 30%;
}

.color-select {
    flex-basis: 60%;

}

.select-container{
    margin: 10px 0 20px;
}
.select-container .count {
    min-width : 0;
    flex-basis: 19.5%;
    height    : initial !important;
    border    : 1px solid #767677;
}

.product-form .p-brand {
    font-size     : 1.75rem;
    /* font-size  : 28px; */
    white-space   : nowrap;
    margin-bottom : 0;
}

.product-form .p-model {
    /* font-size     : 16px; */
    font-size        : 1rem;
    font-weight      : 700;
    letter-spacing   : normal;
    line-height      : normal;
    width            : 100%;
    margin-bottom    : 35px;
    margin-bottom    : 2em;
    margin-top       : 0px;
}

.product-form .p-cost {
    color          : #a2a2a2;
    font-size      : 14px;
    font-size      : .875rem;
    font-weight    : 400;
    letter-spacing : normal;
    line-height    : 1;
    text-decoration: line-through;
    flex-basis     : 100%;
}
.p-cost::after {
    content: " تومان";
}

.product-form .p-final-cost {
    font-size        : 1.875rem;
    font-weight      : 700;
    letter-spacing   : normal;
    line-height      : normal;
    margin-bottom    : 35px;
    margin-bottom    : 1.1em;

}

.product-form .p-final-cost::after {
    content          : " تومان";
    font-size        : .75rem;
    font-weight      : 700;
    letter-spacing   : normal;
    line-height      : normal;
}

.color-wrapper,
.size-wrapper {
    font-size        : 1rem;
    font-weight      : 700;
    letter-spacing   : normal;
    line-height      : normal;
    width            : 100%;
    margin-bottom    : 15px;
    margin-bottom    : .5em;
}
.p-colors{
    margin-top     : 5px;
    margin-top     : .25em;
}

.choose-size {
    flex-basis: 80%;
}


.p-color,
.p-size {
    max-width: 60px;
    height   : 60px;
}
.p-color-l{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 4px;
}
.p-colors input[type="radio"]{
    display: none;
}
.p-colors input[type="radio"]:checked+label{
    border: 2px solid black;
    

}
/* .p-color:first-child {
    margin-right: -4px;
} */

.p-color img {
    width        : 100%;
    border-radius: 50%;
    padding      : 3px;
}

.p-color.active img {
    border: 1px dashed #000;
}


.size-wrapper .s-guide {
    color          : rgb(97, 96, 96);
    text-decoration: none;
    padding-bottom : 2px;
    border-bottom  : 1px solid rgb(97, 96, 96);
    font-size      : 12px;
}

.gl-icon {
    width         : 18px;
    display       : inline-block;
    height        : 18px;
    vertical-align: text-top;
    width         : 24px;
}
.p-size {
    width      : 65px;
    height     : 65px;
    line-height: 65px;
    text-align : center;
    margin-left: 5px;
    color      : #767677;
    border     : 1px solid #767677;
    font-size  : 20px;
    font-family: sans-serif;
    cursor     : pointer;
}

.p-size.active {
    background  : #000;
    color       : #fff;
    border-color: #000
}

.count {
    min-width : 0;
    flex-basis: 19.5%;
    text-align: center;
}

.purchase-btn {
    border-radius: 2em;
}
select,
.form-element {
    padding                 : 5px;
    background              : none;
    border-radius           : 0;
    /* appearance           : none;
    -webkit-appearance      : none;
    -moz-appearance         : none; */
    color                   : #9a8e87;
    border                  : 1px solid #e1dddb;
    /* height               : 50px; */
    /* font-size            : 20px; */
    font-size               : 1rem;
    outline                 : none;
}

.form-btn.form-element {
    background-color: #000;
    color           : #fff;
    font-weight     : bold;
}

.count:focus {
    border-color: #000;
}
.form-element.like-btn {
    flex-basis   : 19.5%;
    /* font-size : 25px; */
    font-size    : 1.2rem;
    border       : 1px solid #000;
    background   : transparent !important;
    position     : relative;
    cursor       : pointer;
}

.form-element.like-btn img {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

#like-pro-form {
    position: absolute;
    top     : 5%;
    left    : 5%;
    z-index : 101;
}

.like-pro-btn {
    background: transparent;
    cursor    : pointer;
    border    : none;
    outline   : none;
}
.like-pro-btn i.fav{
    transition: all .3s ease-in-out;
    color: #e54646;
}

.like-pro-btn img {
    width: 200%;
    background: #fff;
}

.product-informations {
    /* flex-basis: 100%; */
    flex-basis   : 100%;
    margin       : auto;
    margin-top   : 6em;
    padding-top: 2em;
    border-top: 1px solid #e2e2e2;
}

.tab button {
    margin-right  : -1px;
    border        : 1px solid #767677;
    color         : #767677;
    outline       : none;
    padding       : 10px 5px;
    background    : transparent;
    flex          : 1;

}


.tab button.active {
    border-color          : #000;
    color                 : #000;
    border-top            : 3px solid #000;
    z-index      : 2;
}


.details-panel {}

.tabcontent {
    padding   : 30px 5px 0px;
    display   : none;
}

#description ul {
    list-style-type: disc;
    margin         : initial;
    padding        : 0px 20px 0px 0px;
}

.section-header {
    font-weight   : bold;
    color         : #767677;
    padding-top   : 30px;
    padding-bottom: 10px;
}

.section-row {
    display: flex;
    padding: 15px 8px;

}

.section-row:nth-child(2n-1) {
    background-color   : #f5f5f53a;
}

.section-row-type {
    font-weight: bold;
}

.section-row .section-row-type {
    flex-basis: 15%;
}
.section-row .section-row-def {
    flex-basis: 85%;
}

.number-of-coms {
    font-weight: bold;
}

.number-of-coms::after {
    content    : " نظر ";
    font-weight: normal;
}

.recommended {
    color     : yellow;
    background: #000
}

.recommended-percent {
    font-size   : 150px;
    color       : yellow;
    text-align  : right;
}

.reco-u {
    color: lightgray;

}

.recommended-percent::after,
.reco-u-m::after {
    content: "%";


}



.rating {
    cursor: pointer;
}



.recommended>* {
    flex-basis: 100%;
}

.recommended {
    padding-right: 20px;


}

.reco-u-m {
    display: none;
}
.ratings {
    background         : yellow;
}

.overal-p-number {
    font-size: 40px;
    transform: scale(1, 3);
}

.ratings>* {
    flex-basis: 100%;
}

.stars-container {
    position  : relative;
    display   : inline-block;
    color     : transparent;
    font-size : 30px;
    direction : ltr;
    text-align: left;
}


.overal-s-values1 .stars-container {

    font-size: 16px;
}

.stars-container::before, .stars-container::after{
    position: absolute;
    top     : 0;
    left    : 0;
    content : '★★★★★';
}
.stars-container::before {
    color   : lightgray;
}
.stars-container::after {
    color   : #000;
    overflow: hidden;
}

.stars-0:after {
    width: 0%;
}

.stars-5:after {
    width: 5%;
}

.stars-10:after {
    width: 10%;
}

.stars-15:after {
    width: 15%;
}

.stars-20:after {
    width: 20%;
}

.stars-30:after {
    width: 30%;
}

.stars-40:after {
    width: 40%;
}

.stars-50:after {
    width: 50%;
}

.stars-60:after {
    width: 60%;
}

.stars-70:after {
    width: 70%;
}

.stars-80:after {
    width: 80%;
}

.stars-90:after {
    width: 90%;
}

.stars-100:after {
    width: 100%;
}
.review-title {
    margin-bottom: 10px;

}

.review-text {

    margin-bottom: 20px;
    font-size    : 18px;
}

.review-date {
    color    : #767677;
    font-size: 14px;
}

.r-date {
    color    : #767677;
    font-size: 14px;
    position : absolute;
    bottom   : 10%;
    left     : 0;
}

.reviews-recommendation {
    font-size    : 14px;
    margin-bottom: 10px;
}

.helpful {
    font-size    : 14px;
    margin-bottom: 40px;
}

.help-y {
    margin-left : 5px;
    margin-right: 5px;
}

.help-c {
    color: #767677;
}

.reviews-username {
    font-size    : 14px;
    margin-bottom: 20px;
}


.post-comment {
    flex-basis: 70%;
}
.post-comment-form>* {
    display      : block;
    width        : 70%;
    margin-bottom: 20px;
    padding      : 10px;
    outline      : none;
}

.com-txt {
    width    : 70%;
    border   : 1px solid #767677;
    font-size: 16px;

}

.com-txt:focus {
    border-color: #000;
}

.post-comment-form .btn-comment {
    border    : 1px solid;
    background: #000;
    color     : #fff;
}

.checkbox-input {
    border    : 1px solid;
    background: transparent;
}


.radio-container {

    display            : flex;
    align-items        : baseline;
    position           : relative;
    cursor             : pointer;
    font-size          : 16px;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    margin-left        : 10px;
}

.radio-container>span {
    padding-left: 10px;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
}

/* Create a custom radio button */
.checkmark {
    position        : relative;
    height          : 18px;
    width           : 18px;
    background-color: #eee;
    border-radius   : 50%;
}

/* On mouse-over, add a grey background color */
.prp:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.prp input:checked~.checkmark {
    background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}
/* Show the indicator (dot/circle) when checked */
.prp input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.prp .checkmark:after {
    top          : 50%;
    left         : 50%;
    width        : 10px;
    height       : 10px;
    transform    : translate(-50%, -50%);
    border-radius: 50%;
    background   : white;
}
/* slider css */
.slider-c {
    position  : absolute;
    bottom    : 80px;
    bottom    : 2.5em;
    right     : 1.2em;
}





.product-image-slider #pager {
    position       : absolute;
    bottom         : 30px;
    bottom         : 0;
    z-index        : 850;
    
    

}

#pager img {
    width    : 60px;
    height   : 60px;
    /* height: 30px; */
    flex     : 1;
    opacity  : .80;

}

.slider-c {
    z-index: 100;
}

.cycle-pager-active img {
    border : 2px solid #000;
    opacity: 1 !important;
}

#prev {
    width: 3.5em;
}

#next {
    width: 3.5em;

}

#prev img {
    width: 100%;
}

#next img {
    width: 100%;
}

/* end of slider css */

.reviews {
    margin-top    : 60px;
    font-size     : 30px;
    padding-bottom: 60px;

}

.review {
    display      : flex;
    flex-wrap    : wrap;
    border-bottom: 1px solid #767677;

}

.review .review-date {
    text-align: left;

}

.review>* {
    flex-basis: 100%;

}

.review .rating,
.review .review-date {
    flex-basis: 50%;
    align-self: baseline;
}

.reviews .review .rating span {
    /* display: block; */
    color     : #989a9c;
    font-size : 16px;

}

.reviews .review .rating span.active.sabt {
    color: #000;

}

.reviews .review .rating span.tr {
    transition: all .4s;
    color     : #000;
}


/* responsive styles */
@media (max-width: 575.98px){
    .image-container {
        height  : auto !important;
        overflow: initial;
        margin  : 15px 0;
    }

    #like-pro-form {
        top : 6%;
        left: 2%;
    }

    .like-pro-btn img {
        width: 120%;
    }

    .slider-c {
        bottom   : .7em;
        right    : 50%;
        transform: translate(50%, -.7em);
    }

    #next {
        width: 2em;
    }

    #prev {
        width: 2em;
    }

    .product-image-slider #pager {
        bottom         : -18px;
        

    }

    #pager img {
        width : 30px;
        height: 30px;

    }

    .image-container img {
        width: 100%;
    }
    .product-image-slider .image-container {
        transition                 : all 2s;
    }

    .product-image-slider .image-slide-container {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-around;
    }

    .product-image-slider .image-slide-container div {
        flex-basis: 24%;
    }

    .product-image-slider .image-slide-container img {
        width: 100%;
    }
    .product-form form {
        margin-bottom     : 30px;
    }

    .p-color,
    .p-size {
        max-width: 50px;
        height   : 50px;
    }

    .p-color img {
        padding: 2px;
    }

    .p-size {
        width      : 45px;
        height     : 45px;
        line-height: 45px;
        margin-left: 4px;
        font-size  : 16px;
    }

    select,
    .form-element {
        padding  : 4px;
        height   : 40px;
        font-size: 16px;
    }

    .count {
        flex-basis: 20%;

    }

    .product-form .select-container .chosen-rtl {
        flex-basis: 80%;
    }

    .tabcontent {
        padding    : 0;
        padding-top: 20px;

    }

    .section-body {
        font-size: 14px;
    }

    .stars-container {
        font-size: 25px;
    }

    .overal-p-number {
        font-size: 25px;
        transform: scale(1, 2.5);
    }

    .reviews {
        flex-basis: 100%;

    }

    .review-title {
        font-size: 22px;
    }

    .review-text {
        font-size: 16px;
    }
    .com-txt {
        width: 100%;
    }

    /* tab styles */
    .section-row .section-row-type {
        flex-basis: 50%;
    }

    .section-row .section-row-def {
        flex-basis: 50%;
    }

    .section-row:nth-child(2n-1) {
        /* background-color: #76767709; */
        background-color   : #f5f5f5;
    }

    .details-panel {}

    .recommended-percent {
        font-size  : 65px;
        font-weight: bold;
        line-height: 25px;


    }

    .reco-u {
        font-size: 14px;

    }

    .reco-u-m {
        display: block;
    }

    .recommended-percent {
        display: none;
    }

    .recommended {
        padding-right: 4px;

    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .container {
        padding: 0 1em;
    }

    #like-pro-form {
        top : 5%;
        left: 5%;
    }

    .like-pro-btn img {
        width: 140%;
    }

    .product {
        flex-basis: 33.3333%;
    }

    .product-image-slider {
        flex-basis: 58%;

    }

    .product-form {
        flex-basis: 38%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .product-form {
        flex-basis: 40%;
    }

    .product-image-slider {
        flex-basis: 60%;
    }
}
 