.pro-title h3{
    margin-top: .6em;
}
.pro-title .p-title {
    font-size: 1.3rem;
}

.pro-title .p-c {
    font-weight   : normal;
    font-size     : .8rem;
    color         : #767677;
    vertical-align: baseline;
}

.pro-title .p-c::before {
    content       : "[ ";
    vertical-align: baseline;
}

.pro-title .p-c::after {
    content       : " محصول ]";
    vertical-align: baseline;

}
.container .products {
    display  : flex;
    flex-wrap: wrap;
    border: 1px solid #e2e2e2;

}

.product {
    text-decoration: none;
    color          : inherit;
    font-size      : 1rem;
}

.product {
    /* position   : relative; */
    flex-basis    : 25%;
    border        : 1px solid transparent;
    /* padding    : 15px; */
    padding       : .6em;
    margin-top: -1px;
    margin-right: -1px;


}
.inner-p {
    position     : relative;
    border       : 1px solid transparent;
    /* background: #F8F7FA; background of images */
}

.product img {
    /* min-width: 200px; */
    width       : 100%;
}

.face {
    z-index: 10;
}

.product .back {
    position  : absolute;
    top       : 0;
    left      : 0;
    z-index   : -10;
    transition: var(--animate);
}

.product .brand {
    /* font-size     : 16px; */
    font-size        : .8em;
    font-weight      : 700;
    letter-spacing   : normal;
    /* line-height   : normal; */
    font-family      : sans-serif;
    /* margin-bottom : 15px; */
    margin-bottom    : 0;
}

.model {
    font-size       : .8em;
    /* color        : #767677; */
    color           : rgb(63, 62, 62);
    margin-bottom   : .3em;

}

.asl {
    color      : #e32b2b;
    color      : #000;
    font-size  : 18px;
    font-weight: 700;
    font-size  : .9em;

}

.dis {
    /* font-size      : 12.5px; */
    /* font-weight    : 700; */
    font-size         : .7em;
    letter-spacing    : normal;
    /* line-height    : normal; */
    color             : #767677;
    text-decoration   : line-through;
}

.colors {
    color: #767677;

    margin-top: 10px;
    font-size : .7em;
}

/* .product:hover .inner-p{
    border-color: rgb(206, 206, 206);
} */
.product:hover {
    /* border-color: rgb(206, 206, 206); */
    border-color   : #000;
}

.product:hover .back {
    z-index: 11;
}

.product>.inner-p>* {
    display   : block;
    flex-basis: 100%;
}

.discount {
    /* text-overflow  : ellipsis; */
    /* white-space    : nowrap; */

    position          : absolute;
    /* background     : rgba(224, 224, 224, .1); */
    background        : #000;
    font-size         : 12px;
    font-size         : .7em;
    padding           : .2em .7em;
    color             : #fff;
    top               : 0;
    left              : 0;
    z-index           : 15;
    /* border         : 1px solid #767677; */


}

.discount>span+span::after {
    content        : " تخفیف ";
    /* margin-right: 2px; */
}

@media only screen and (max-width: 575.98px){
    .product {
        flex-basis: 100%;
        border-bottom: 1px solid #eee;
    }

    .product .model,
    .product .brand {
        font-size: 12px;
    }

    .brand {
        font-weight: 700;
    }

    .product .model {
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
    }

    .asl {
        font-size: 12px;

    }

    .product>.inner-p .product-cost {
        display  : flex;
        flex-wrap: wrap;
    }

    .product>.inner-p .product-cost>* {
        flex-basis: 100%;

    }

    .product>.inner-p .colors {
        font-size: 12px;
    }

    .product {
        padding: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .product{
        flex-basis: 50%;
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .product{
        flex-basis: 33.3333%;
    }
}
@media only screen and (min-width: 1200px) {
    .product {
        flex-basis: 25%;
    }
}