.profile-container{
    padding: 0 5em;
    background: #fff;
    /* min-height: 100vh; */
}
.profile-info-edir-container{
    
}
.profile-info-edir-container.prof-likes{
    flex-basis: 70%;
}
.products{
    display: flex!important;
    flex-wrap: wrap!important;
}
.likes-container{
    width: 100%;
}
.bread-crumb{
    margin-top: 20px;
}
.bread-crumb ul{
    color: #767677;

}
.bread-crumb ul li.active{
    color: #000;
}
.bread-crumb ul li::after{
    content: "\203A";
    font-size: 20px;
    margin: 0 8px;
}
.bread-crumb ul li:last-child::after{
    content: "";
    margin: 0 0;
}
.inner-container{
    padding-top: 50px;
}

.right-menue{
    flex-basis: 15%;
    margin-left: 100px;
    background: #F9F9F9;
    border: 2px solid #767677;
    
}
.right-menue-title{
    display: none;
}
.right-menue-title i{
    display: none;
}
.right-menue ul{
    padding: 10px 0;
}
.right-menue li{
    position: relative;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #767677;
   font-size: 1rem;

}
.right-menue li a{
    text-decoration: none;
    color: #767677;

}
.right-menue li i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(90deg);
    font-size: 1.2rem;
    display: none;
}
.right-menue li.active{
    font-weight: bold;
    color: #000;
    border-left: 4px solid;
}
.pro-address-con{
    flex-basis: 60%;
}

.profile-info-edir-container h1{
    margin-top: 0px;
}
.select-container{
    margin: 10px 0 20px;
}
.state-select,.city-select{
    flex-basis: 49%;
}
.bday-select,.bmonth-select, .byear-select{
    flex-basis: 30%;
}
.input-container{
    margin-bottom: 20px;
}
.mt-10{
    margin: 10px 0;
    margin-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.txt-in-container>.profile-txt{
    border: 1px solid #767677;
    padding-right: 10px!important;
}

.profile-info-edir-container .txt-in-container input{
    padding-right: 12px;
}
.profile-info-edir-container .txt-in-container label{
    top : 7px;
}
.bo-2{
    border-width: 2px;
    padding-right: 10px!important;
}
.bo-2 +.hidden-label{
    right: 10px!important;
}
.black-btn,.blue-btn{
    text-align : center;
    padding : 10px 0;
    color : #eee;
    
}
.profile-btn{
    padding: 1em 1em;
}
.black-btn{
    border : 1px solid #000;
background-color: #000;
width: 30%;
}
.blue-btn{
    border : 1px solid #4c78b3;
    background-color: #4c78b3;
}


/* addresses  styles */
.address{
    position: relative;
    border: 2px solid;
    padding: 20px;
    padding-left: 80px;
    background: #F9F9F9;
    margin-bottom: 30px;
}   
.add-btn-container{
    position: absolute;
    top: 5px;
    left: 5px;

}
/* .add-btn-container button{
    border: 1px solid transparent;
    outline: none;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all .3s;
} */
.add-btn-container button:hover{
    cursor: pointer;
    border: 1px solid #767677;
}
.ta{
    margin-bottom: 20px;
    border-bottom: 1px solid #767677;
    padding-bottom: 10px;
}
.txt-bold{
    font-weight: bold;
}
/* end of addresses */


/* carousel slider */
.carousel-container{
    margin: 100px auto;
    
}
.carousel-container .cycle-slideshow{
    margin: 0px auto;
}
.cycle-pager{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    direction: ltr;
}
.cycle-pager span{
    width: 30px;
    height: 6px;
    color: transparent;
    background: rgb(170, 168, 168);
    margin-left: 3px;
    cursor: pointer;
}
.cycle-pager .cycle-pager-active{
    background: #000;
}
.carousel-container .cycle-slideshow img{
    margin: 3px;
}

#prev-caro , #next-caro{
    position: absolute;
    background: #767677;
    top: 10px;
    left: 10px;
}
/* end of carousell slider */



/* likes profile page */
.prof-unlike-p{
    position: absolute;
    top:0;
    right: 0;
    z-index: 12;
    
}
.unlike-pro-btn{
    background: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    color: rgb(49, 49, 49);
    padding: .1em;
}
/* end of likes product page */

@media screen and (max-width: 575.98px){
    .profile-container{
        padding: 90px 10px;
        background: #fff;
     }
     .profile-info-edir-container.prof-likes,.pro-address-con {
         flex-basis: 100%;
     }

     .address{
         padding: 10px;
     }
     .right-menue{
         margin-left: 0;
         border: 1px solid #F9F9F9;
         border-top: none;
         background: #fff;
         flex-basis: 100%;
     }
     
     
     .right-menue-title i{
         display: none;
     }
     .right-menue-title.deactive .menue-close{
         display: initial;
     }
     .right-menue-title.active .menue-open{
         display: initial;
     }
     .right-menue li i{
         display: initial;
     }
     .profile-info-edir-container{
         margin-top: 2em;
     }
     /* .select-container .chosen-container{
        width: 100%!important;
        margin-bottom: 1em;
     } */
     .select-container > .bday-select + div, .select-container > .bmonth-select + div,.select-container > .byear-select + div{
         flex-basis: 30%!important;
     }
     .select-container>.state-select + div, .select-container>.city-select+div{
         flex-basis: 48%!important;
         font-size: .9rem;
     }
     .right-menue ul{
         display: none;
         padding: 0;
     }
     .right-menue-title.active + ul{
         display: block;
     }
     .right-menue li{
         margin-bottom: 0;
         padding: .7em;
         /* border-bottom: 1px solid #e2e2e2; */
     }
    .right-menue li.active {
        border-left: none;
    }
    .right-menue-title {
        position: relative;
        display: block;
        background: #F9F9F9;
        margin: -1px;
        padding: 1em;
    }
    .right-menue-title i{
        position: absolute;
        left: .1em;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .profile-container{
        padding: 0 1em;
    }
    .profile-info-edir-container{
        flex-basis: 75%;
    }
    .right-menue{
        flex-basis: calc(25% - 1em);
        margin-left: 1em;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .profile-container{
        padding: 0 1.5em;
    }
    .profile-info-edir-container{
        flex-basis: 75%;
    }
    .right-menue{
        flex-basis: calc(25% - 1.5em);
        margin-left: 1.5em;
    }
}