.outer{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.next-search{
    flex-basis: 20%;
    padding: 1em;
    font-size: .9rem;
    align-self: stretch;
    display: flex;
    align-items: stretch;
}
.ns{
    border: 1px solid #e2e2e2;
    padding: 1em;
}

.search{
    margin: 1em 0;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1em;
    flex-basis: 80%;
}
.search-box-cont{
    position: relative;

}
.search-box-cont input{
    width: 50%;
    font-size: 1rem;
    padding: .5em 2em;
    outline: none;
    border: 1px solid #e2e2e2;
    color: #767677;
    font-family: shabnam, sans-serif;

}
.search-box-cont i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: #767677;
}
.search-btn{
    margin-right: 1em;
    font-size: .9rem;
    color: #fff;
    padding: .6em 2em;
}
.all-filter-btn{
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: .5em 0;
    width: 100%;
}
.sort-rs{
    display: flex;
    margin-top: 1em;
}
.sort-rs button{
    background: #e2e2e2;
    color: #000;
    border: none;
    margin-left: .5em;
    padding: .3em .8em;
    border-radius: 1em;

}
.filters{
    flex-basis: 20%;
    /* border: 1px solid; */
    font-size: .9rem;
    padding: 1em;
}

.filter-sticky,.close-filter,.sort-results,.close-sort,.filter-header{
    display: none;
}
.filter{
    border: 1px solid #e2e2e2;
    padding: 1em;
    margin-bottom: 1em;

}


.filter-title{
    color: #767677;
    border-bottom: 1px solid #e2e2e2;
    font-size: .8rem;
    padding-bottom: 0.4em;
    padding-right: .3em;
    margin-bottom: 1em;
    
    
}
.filter-title i{
    display: none;
}
/* .filter-brands label */

.filter-brands{
    overflow-y: scroll;
    height: 15em;
    
}
.filter-brands ul{
    padding-left: .3em;
    
}
/* The container */
.filter-brands label {
    color: #3b3b3b;
    display            : block;
    position           : relative;
    padding-left       : 35px;
    margin-bottom      : .2em;
    cursor             : pointer;
    font-size          : .9em;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

/* Hide the browser's default checkbox */
.filter-brands label input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
    height  : 0;
    width   : 0;
}

/* Create a custom checkbox */
.checkmark {
    position        : absolute;
    top             : 50%;
    transform: translateY(-50%);
    left            : 0;
    height          : 1em;
    width           : 1em;
    background-color: transparent;
    border: 2px solid #000;
}

/* On mouse-over, add a grey background color */
.filter-brands label:hover input~.checkmark {
    background-color: #e2e2e2;
}

/* When the checkbox is checked, add a blue background */
.filter-brands label input:checked~.checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

/* Show the checkmark when checked */
.filter-brands label input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-brands label .checkmark:after {
    left             : 50%;
    top              : 2px;
    width            : 5px;
    height           : 10px;
    border           : solid white;
    border-width     : 0 2px 2px 0;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform    : rotate(45deg) translateX(-50%);
    transform        : rotate(45deg) translateX(-50%);
}

/*filter costs */
.filter-costs{
    font-size: .9rem;
}
.ui-slider-horizontal {
    height    : .2em;
    background: #e2e2e2;
}
.ui-slider .ui-slider-handle{
    top: 50%;
    transform: translateY(-50%);
    width: .8em;
    height: .8em;
    background: #000;
    border-radius: 50%;
    outline: none;
}
.ui-slider .ui-slider-range{
    background: #000;
}

#slider-range{
    margin: 2em 0;
}
.s-range{
    margin-bottom: 1em;
}
.filter-btn{
    font-size: .8rem;
    padding: .4em 0;
    position: relative;
    color: #fff;
}
.filter-btn i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    font-size: .8;
    padding-left: .5em;
}
.s-range input{
    display: block;
    width: 80%;
    margin: auto;
    font-size: .7rem;

}
.slider-range-in{
    border: none;
    outline: none;
    text-align: center;
    background: #e2e2e2;
    padding: .5em 0;
    border-radius: 1em;
}
.slider-rage-from{
    border-left: 1px solid #e0e0e0;
}
.switch {
    position: relative;
    display : inline-block;
    width   : 44px;
    height  : 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width  : 0;
    height : 0;
}

/* The slider */
.slider {
    position          : absolute;
    cursor            : pointer;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : #ccc;
    -webkit-transition: .4s;
    transition        : .4s;
}

.slider:before {
    position          : absolute;
    content           : "";
    height            : 18px;
    width             : 18px;
    right              : 2px;
    bottom: 2px;
    
    background-color  : white;
    -webkit-transition: .4s;
    transition        : .4s;
}

input:checked+.slider {
    background-color: #000;
}

/* input:focus+.slider {
    box-shadow: 0 0 1px #000;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(-22px);
    -ms-transform    : translateX(-22px);
    transform        : translateX(-22px);
}

/* Rounded sliders */
/* .slider.round {
    border-radius: 1.2em;
} */

/* .slider.round:before {
    border-radius: 50%;
} */
.filter-switch{
    position: relative;
}
.switch-label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1.4em;
    font-size: .8rem;
    
}
.container{
    flex-basis: 80%;
}

@media only screen and (max-width: 575.98px){
    .container{
        margin-top: 0;
    }
    .outer{
        margin-top: 4em;
        flex-direction: column;
        align-items: stretch;
    }
    .next-search{
        display: none;
    }
    .search{
        order: -1;
        margin-top: 3em;
    }
    .search-box-cont {
        flex-wrap: wrap;
    }
    .search-box-cont > input,.search-box-cont> .search-btn{
        flex-basis: 100%;
        padding: 1.2em;

    }
    .search-box-cont>.search-btn{
        margin-top: 1em;
        margin-right: 0;
    }
    .search-box-cont>input{
        padding-right: 2em;
    }
    .search-box-cont i{
        top: 1.2em;
    }
    .filters{
        position: sticky;
        top: calc(4em + 28px);
        z-index: 10001;
        

    }
    .m-open{
        padding: 0;
    }
    .m-open .filter{
        border: none;
        padding: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #e2e2e2;
    }
    .m-open .filter-title{
        margin-bottom: 0;
        border: none;
    }
    .m-open .filter-body{
        padding: 1em .9em;
        border-top: 1px solid #e2e2e2;
    }
    .m-open .close-filter{
        display: initial;
        color: #000;
        font-size: 2rem;
        position: absolute;
        top: .2em;
        left: .2em;
    }
    .m-open .filter-sort{
        border: none;
    }
    .sort-rs{
        margin-top: 0;
        font-size: 1.3rem;
    }
    .sort-t{
        border-bottom: 1px solid #e2e2e2;
        padding: 1em;
    }
    .sort-rs .close-sort{
        color: #000;
        font-size: 2rem;
        position: absolute;
        top: .2em;
        left: .2em;

    }
    
    .sort-rs button{
        background: white;
        text-align: right;
        padding: 1em;

    }
    .filter-sort{
        background: white;
        border-top: 1px solid ;
        border-bottom: 1px solid;
        margin-right: -1em;
        margin-left: -1em;
    }
    .filter-sticky,.sort-results{
        display: block;
        /* flex-basis: 100%!important; */
        text-align: right;
        padding: 1em;
        cursor: pointer;
        font-size: 1.2rem;
        flex-basis: 50%;
        
    }
    .filters .filter-header{
        display: none;
    }
    .filter.filter-header.fshow{
        display: block;
        padding: 1em;
        font-size: 1.2rem;
    }
    .m-open .sort-results{
        display: none;
    }
    .m-open .filter-sticky{
        display: none;
    }
    .sort-results{
        text-align: center;
        border-right: 1px solid;
    }

    .filter-sticky.opened{
        text-align: center;
    }
    .filter{
        display: none;
    }
    .filter.fshow{
        display: block;
    }
    .filter-title{
        position: relative;
        border-bottom: 1px solid #e2e2e2;
        border-top: 1px solid #e2e2e2;
        border: 1px solid #e2e2e2;
        font-size: 1.3rem;
        padding: .8em;
        /* padding-bottom: 0.4em;
        padding-right: .3em; */
    }
    .filter-title i{
        display: initial;
        position: absolute;
        left: .1em;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;
        
    }
    .rotate-t i{
        transform: rotate(180deg) translateY(50%);
    }
    .filter-body{
        display: none;
    }
    /* .filter-title + *{ 
        display: none;
    } */
    .search-sr .sort-rs{
        display: none;
        
    }
    .filters.m-open,.sort-rs.open{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        background: white;
        transition: all .3s ease-in-out;

    }
    /* .sort-rs.open{
        height: 100vh;
    } */
    .sort-rs.open{
        flex-direction: column;
        z-index: 100000;
    }
    .sort-rs > form{
        transition: all .3s ease-in-out;
    }
    .sort-rs.open button,.sort-rs.open span{
        display: block;
        width: 100%;
    }
    .filter-brands{
        font-size: 1.2rem;
    }
    .filter-brands li{
        margin-bottom: 1em;
        
    }

    .s-range > *{
        flex: 1;
    }
    .s-range{
        font-size: 1.2rem;
    }
    .s-range input{
        font-size: .9rem;

    }
    .filter-btn{
        font-size: .9rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .next-search,.filters{
        flex-basis: 35%;
    }
    .search-box-cont input{
        width: 70%;
    }
    .search,.container{
        flex-basis: 65%;
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .next-search,.filters{
        flex-basis: 30%;
    }
    .search-box-cont input{
        width: 80%;
    }
    .search,.container{
        flex-basis: 70%;
    }
}