@font-face {
  font-family: shabnam;
  src        : url("fonts/Shabnam.eot");
  src        : url("fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: shabnam;
  src        : url("fonts/Shabnam-FD.eot");
  src        : url("fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-FD.woff") format("woff"), url("../fonts/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: shabnam;
  src        : url("fonts/Shabnam-Bold.eot");
  src        : url("fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style : normal;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \0000310
  }
}

html {
  direction  : rtl;
  font-size  : 16px;
  font-family: shabnam, sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \0000315
  }
}

h1 {
  margin    : 50px;
  text-align: center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \0000321
  }
}

.container {
  width          : 100%;
  display        : flex;
  height         : 100vh;
  background     : #ECECE2;
  color          : #2E3238;
  justify-content: center;
  align-items    : center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \0000331
  }
}

.container .log-container {
  flex-basis: 500px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \0000335
  }
}

.container h3 {
  font-size  : 1.5rem;
  font-weight: bold;
  text-align : center;
}

/* side container slides */
/* 
.side-container{
    color    : white;
    direction: ltr;
    position : relative;
    display  : flex;
    
    flex-wrap: wrap;
   
    // background         : url(../home-1200px.jpg);
    // background-repeat  : no-repeat;
    // background-size    : cover;
    // // filter          : grayscale(80%);
    // background-position: center center;
    background            : rgb(53, 53, 53);
    flex-basis            : 30vw;
    .logo{
        border       : 1px solid red;
        // position  : absolute;
        // left      : 40%;
        // transform : rotate(20deg);
        width        : 15%;
        margin       : 0 auto;
        margin-bottom: auto;
        img{
            width: 100%;
            color: blue;    
        }
        span{
            letter-spacing: 6px;
            text-transform: uppercase;
        }
    }
    .brands{
        flex-basis: 100;
        border    : 1px solid green;
        background: white;
        width     : 100%;
        display   : flex;
        flex-wrap : wrap;
        margin-top: auto;
        span{
            color     : black;
            flex-basis: 100%;
        }
        img{
            border     : 1px solid gold;
            width      : 10%;
            flex-basis : 10%;
            flex-shrink: 0;
        }
    }
}
*/
@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003104
  }
}

.tab {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003108
  }
}

.login-container {
  flex-flow  : column nowrap;
  align-items: stretch;
  padding    : 30px 50px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003113
  }
}

.login-container p {
  font-size    : .75rem;
  text-align   : right;
  margin-bottom: 18px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003118
  }
}

.login-container #mobile-num {
  color: #4c78b3;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003123
  }
}

.login-container .pnum-edit {
  margin-bottom: 18px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003126
  }
}

.login-container .pnum-edit-btn {
  background   : transparent;
  color        : #4c78b3;
  font-size    : 14px;
  outline      : none;
  cursor       : pointer;
  border       : none;
  border-bottom: 2px solid;
  padding      : 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003136
  }
}

.login-container .input-container {
  position: relative;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003138
  }
}

.login-container .input-container .we.invalid {
  border-color: #db473c;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003143
  }
}

.login-container .input-container .we {
  color                     : #000;
  background                : none;
  z-index                   : 100;
  width                     : 100%;
  outline                   : none;
  border                    : 2px solid #000000;
  box-sizing                : border-box;
  direction                 : ltr;
  text-align                : right;
  padding                   : 10px;
  padding-right             : 23px;
  width                     : 100%;
  transition-duration       : .5s;
  transition-property       : all;
  transition-timing-function: ease-out;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003162
  }
}

.login-container .input-container .hidden-label {
  position  : absolute;
  top       : 12px;
  right     : 24px;
  color     : #767677;
  transition: .3s;
  z-index   : 2;
  cursor    : auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003172
  }
}

.login-container .input-container .we:valid {
  background-color: #ECECE2;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003176
  }
}

.login-container .input-container .we:valid+.hidden-label {
  color  : transparent;
  z-index: -1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003180
  }
}

.login-container .input-container .we:focus {
  border-color: #000;
  color       : #000;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003184
  }
}

.login-container .input-container .we.we.invalid:focus {
  border-color: #db473c;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003189
  }
}

.login-container .input-container .we:focus+.hidden-label {
  top             : -8px;
  color           : black;
  background-color: #ECECE2;
  z-index         : 101;
  padding         : 0px 5px;
  font-size       : 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003198
  }
}

.login-container .input-container i {
  color   : #767677;
  height  : 50%;
  position: absolute;
  top     : 25%;
  right   : 6px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003208
  }
}

.login-container .button-container {
  margin-top: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003210
  }
}

.login-container .button-container button {
  width           : 100%;
  text-align      : center;
  padding         : 10px 0;
  color           : #eee;
  border          : 1px solid #4c78b3;
  background-color: #4c78b3;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003219
  }
}

.login-container .button-container button:hover {
  cursor: pointer;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003222
  }
}

.login-container .button-container button:focus {
  outline: none;
  cursor : pointer;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003226
  }
}

.login-container .button-container #info-complete {
  background  : #000;
  border-color: #000;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003232
  }
}

.login-container .returned-code-inputs {
  direction      : ltr;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003237
  }
}

.login-container .returned-code-inputs input {
  width     : 30px;
  height    : 25px;
  font-size : 16px;
  text-align: center;
  background: transparent;
  border    : 2px solid;
  outline   : none;
  padding   : 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003247
  }
}

.login-container .returned-code-inputs input.invalid {
  border-color: #db473c;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003257
  }
}

.login-container .timer-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding-top    : 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003262
  }
}

.login-container .timer-container #timer {
  font-size    : 20px;
  text-align   : center;
  height       : 40px;
  line-height  : 40px;
  border-bottom: 2px solid;
  direction    : ltr;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003272
  }
}

.login-container .success-con img {
  width : 100%;
  height: 120px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/E\:\/farzin\/shoes\%20project\/shoe-shop\/sass\/style\.scss
  }

  line {
    font-family: \00003276
  }
}

.login-container .guide-txt.success-txt {
  font-size : 18px;
  text-align: center;
  color     : #000;
}