/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
  */
.table-container{
  flex-basis: 70%;
}

.table-container table{
  width: 100%;
  border-collapse: collapse;
}
table th{
  padding: 0 0.2em 0.5em;
}
td{
  text-align: center;
  padding: .5em .5em;
  
}
tbody tr:nth-child(odd) {
  background: #eee;
}
.boxes,.table-form{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}
.table-form{
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
}
.table-form input{
  padding: 0.8em 0.5em;
  border: 1px solid #eee;
  font-family: shabnam, sans-serif;
  flex-basis: 40%;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}
.table-form input:focus{
  border-color: black;

}
.table-form button{
  font-family: shabnam, sans-serif;
  
}
.boxes .box{
  text-align: center;
  border: 1px solid #eee;
  flex-basis: 30%;
  padding: 1em 0.2em;
}
.box--title{
  padding-bottom: 0.5em;
  font-size: 1.1rem;
}
.box--content{
  color: #767676;
  font-size: 1rem;
}
@media only screen and (max-width: 575.98px){
  .table-container{
    flex-basis: 100%;
    margin-top: 2em;
  }
  .table-form{
    flex-direction: column;

  }
  .table-form > *{
    margin-bottom: 1em;
  }
  .table-form button{
    padding: 0.5em 1em;
  }
}
@media only screen and (max-width: 767.98px),
(min-width: 768px) and (max-width: 991.98px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top     : -9999px;
    left    : -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }



  td {
    /* Behave  like a "row" */
    border       : none;
    border-bottom: 1px solid #ccc;
    position     : relative;
    padding-right : 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top          : 50%;
    transform: translateY(-50%);
    right         : 0px;
    width        : 45%;
    
    white-space  : nowrap;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "ستون اول";
  }

  td:nth-of-type(2):before {
    content: "ستون دوم";
  }

  td:nth-of-type(3):before {
    content: "ستون سوم";
  }

  td:nth-of-type(4):before {
    content: "ستون چهارم";
  }

  td:nth-of-type(5):before {
    content: "ستون پنجم";
  }

  
}